[Unit]
Description=Yopass - Share secrets securely
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/cadmin/yopass/
ExecStart=/usr/bin/docker compose -f docker-compose-prod.yml up --build
ExecStop=/usr/bin/docker compose -f docker-compose-prod.yml down
Restart=always
User=cadmin
Group=docker

[Install]
WantedBy=multi-user.target